{% extends 'Admin-dashboard/base.html' %}
{% load static %}

{% block title %}إضافة كافل جديد | كفالة{% endblock %}

{% block content %}
<div class="form-container">
    <div class="title-form">إضافة كافل جديد</div>

    <form method="POST" action="{% url 'add_donor' %}">

        {% csrf_token %}

        <div class="form-group">
            <div class="the-name">
                <input type="text" name="name" placeholder="الاسم الكامل" required>
            </div>
            <div class="the-aria">
                <input type="email" name="email" placeholder="البريد الإلكتروني" required>
            </div>
            <div class="the-age">
                <input type="text" name="phone" placeholder="رقم الهاتف">
            </div>
        </div>

        <div class="file-upload-container">
            <button type="submit" class="add-orphan">إضافة كافل</button>

            <a href="{% url 'manage_donors' %}" class="cancle-btn"
                style="text-decoration: none; padding: 10px 20px; display: inline-block;">إلغاء</a>
        </div>
    </form>
</div>
{% endblock %}